@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  width: 5px;
  background: #2b7b8c;
}
::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #f2b90c;
  outline: 1px solid #373737;
  border-radius: 1rem;
}

.navbar-brand {
  font-family: "Krona One", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav .nav-item {
  padding-left: 25px;
}

#navbarNav .btn-warning {
  background-color: #2b7b8c;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-radius: 30px;
  color: #ffff;
}

#navbarNav .btn-warning:hover {
  color: #f2b90c !important;
}

.navbar-nav .active {
  color: #f2b90c !important;
}

.navbar-nav img {
  width: 55px;
  height: 55px;
}

.banner {
  background-image: url(".././assets/img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: auto;
}

.banner h1 {
  margin-top: 180px;
  font-family: "Krona One", sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}

.banner p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.banner .btn-warning {
  margin-bottom: 230px;
  background-color: #f2b90c;
  border: none;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600 !important;
  font-size: 15px;
  border-radius: 30px;
}

.banner .btn-warning:hover {
  background-color: #f2b90caa;
}

.banner-tk {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url("../assets/img/banner-tk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.banner-tk h1 {
  margin: 180px 0 180px 0;
  font-weight: 700;
}

.banner-tk h1 span {
  font-style: italic;
  font-weight: lighter;
  font-size: 25px;
}

.hubungiKami {
  font-family: "Poppins", sans-serif;
}

.hubungiKami .nav .nav-link {
  color: #373737;
  font-weight: 500;
}
.hubungiKami .nav .nav-link:hover {
  color: #373737aa;
}
.hubungiKami form input,
.hubungiKami form textarea {
  border-radius: 10px;
  border: 1px solid #2b7b8c;
}
.hubungiKami form input:focus,
.hubungiKami form textarea:focus {
  box-shadow: none;
}
.hubungiKami form .btn-submit {
  background: #2b7b8c;
  color: #ffffff;
  font-weight: 800;
  border-radius: 10px;
}
.hubungiKami form .btn-submit:hover {
  background: #2b7a8cee;
  color: #f2b90c;
}

.perkenalan {
  font-family: "Poppins", sans-serif;
}

.berkembang {
  background: #2b7b8c;
  font-family: "Poppins", sans-serif;
}

.berkembang .row img {
  margin: 15px 15px 15px 0;
  border-radius: 25px;
}

.berkembang .row h2 {
  font-size: 46px;
}

.wrapper {
  background-color: #2b7b8c;
}

.doing {
  margin: 70px 0 50px 0;
}

.doing img {
  width: 300px;
  height: 200px;
}

.doing h3 {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #ffff;
}

.doing .hastag {
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.6);
}

.doing p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #ffff;
}

.doing .btn-warning {
  background-color: #f2b90c;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  border-radius: 30px;
  color: #ffff;
}

.blognews {
  margin-top: 50px;
  margin-bottom: 80px;
  overflow: hidden;
}

.blognews .blog-slider .card {
  margin: 30px 15px 0 15px;
  width: auto;
  background-color: #2b7b8c !important;
  border: none;
}

.blognews .blog-slider .card img {
  border-radius: 8px;
}

.blognews .blog-slider .card .btn-primary {
  background-color: #2b7b8c;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.blognews .blog-slider .card h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffff;
}

.blognews .blog-slider .card p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #ffff;
}

.blognews h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #ffff;
}

.blognews .news-slider .card {
  margin: 50px 15px 0 15px;
  background-color: #2b7b8c;
  border: none;
}

.blognews .news-slider .card .btn-warning {
  background-color: #f2b90c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffff;
}

.blognews .news-slider .card h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffff;
}

.blognews .news-slider .card h6 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 14px;
  color: #ffff !important;
}

.blognews .news-slider .card p {
  margin-top: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #ffff;
}

.testimonial {
  margin-bottom: 80px;
}

.testimonial h1 {
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #373737;
}

.testimonial .testi-card {
  padding: 10px;
  margin: 50px 15px 5px 15px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.testimonial .testi-card img {
  margin-top: 30px;
  width: 60px;
  height: 60px;
}

.testimonial .testi-card h3 {
  margin-top: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #373737;
}

.testimonial .testi-card .jabatan {
  margin-top: -6px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.testimonial .testi-card .pesan {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
}

.team h1 {
  margin: 50px 0px 30px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.team img {
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

.team h5 {
  margin-top: 9px;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.team p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

footer {
  background: #373737;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: #ffffff;
}

footer .kontak {
  padding-top: 40px;
}

@media (max-width: 768px) {
  footer .kontak {
    padding-top: 0;
  }
}

footer .kontak a {
  text-decoration: none;
  color: #ffffff;
}

footer .kontak a:hover {
  color: #ffffffaa;
}

footer .nav-item a {
  text-decoration: none;
  color: #ffffff;
}

footer .nav-item a:hover {
  color: #ffffffaa;
}

@media (min-width: 992px) {
  .banner h1 {
    margin-top: 190px;
    font-family: "Krona One", sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
  }
  .banner p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
  }
  .banner .btn-warning {
    background-color: #f2b90c;
    border: none;
    font-family: "Krona One", sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 30px;
  }
  .doing img {
    width: 500px;
    height: 350px;
  }
}

.choosebanner {
  background-image: url(".././assets/img/banner-chooselogin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.choosebanner .row {
  margin-top: 100px;
}

.choosebanner .pengusaha {
  margin-top: 30px;
  padding: 10px;
  background-color: #ffff;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.choosebanner .pengusaha a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #373737;
}

.choosebanner .pengusaha a img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.choosebanner .pengusaha:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.choosebanner .footerchoose {
  margin-top: 80px;
}

.choosebanner .footerchoose p {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #ffff;
}

@media (min-width: 992px) {
  .choosebanner .row {
    margin-top: 20px;
  }
  .choosebanner .pengusaha {
    margin-top: 200px;
  }
  .choosebanner .pengusaha a img {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
  }
  .choosebanner .footerchoose {
    margin-top: 130px;
  }
}

.navbar-login {
  color: #f2b90c;
}

.login-form {
  margin-top: 30px;
  height: auto;
  border-radius: 30px;
  padding: 30px;
}

.login-form h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #373737;
}

.login-form .jabatan-login {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #373737;
  margin-top: -5px;
}

.login-form p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373737;
}

.login-form p a {
  color: #f2b90c;
}

.login-form label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373737;
  margin-bottom: 7px;
}

.login-form .card-text a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #f2b90c;
}

.login-form .form-control {
  border-radius: 30px;
}

.login-form .form-control:focus {
  border-color: #f2b90c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login-form .btn-warning {
  width: 50%;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 30px;
}

.regis-form {
  margin-top: 50px;
  width: auto;
  height: auto;
  border-radius: 30px;
  padding: 30px;
}

.regis-form h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: #373737;
}

.regis-form p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373737;
}

.regis-form p a {
  color: #f2b90c;
}

.regis-form label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373737;
  margin-bottom: 7px;
}

.regis-form .form-control:focus {
  border-color: #f2b90c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.regis-form .form-check-input:checked {
  background-color: #f2b90c;
  border-color: #f2b90c;
}

.regis-form .btn-warning {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.regis-form .btn-secondary {
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.footerchoose {
  color: #ffff;
}

.form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form .progressbar {
  margin: 35px 0 35px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  counter-reset: step;
}

.form .progressbar::before,
.form .progress {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
}

.form .progress {
  background-color: #f2b90c;
  width: 0%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form .progress-step {
  width: 20px;
  height: 20px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

.form .progress-step::before {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  counter-increment: step;
  content: counter(step);
}

.form .progress-step-active {
  background-color: #f2b90c;
  color: #ffff;
}

.form .form-step {
  display: none;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation: animate 0.5s;
  animation: animate 0.5s;
}

@-webkit-keyframes animate {
  from {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes animate {
  from {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
}

.form .form-step-active {
  display: block;
}

.form h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #373737;
}

.form #output {
  width: 150px;
  height: 150px;
}
/*# sourceMappingURL=main.css.map */
