.regis-form {
  margin-top: 50px;
  width: auto;
  height: auto;
  border-radius: 30px;
  padding: 30px;

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: map-get($font-weight, semibold);
    font-size: 36px;
    color: #373737;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: map-get($font-weight, regular);
    font-size: 14px;
    color: #373737;

    a {
      color: #f2b90c;
    }
  }

  label {
    font-family: "Poppins", sans-serif;
    font-weight: map-get($font-weight, regular);
    font-size: 14px;
    color: #373737;
    margin-bottom: 7px;
  }

  .form-control:focus {
    border-color: #f2b90c;
    box-shadow: none;
  }

  .form-check-input:checked {
    background-color: #f2b90c;
    border-color: #f2b90c;
  }

  .btn-warning {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: map-get($font-weight, regular);
    font-size: 15px;
  }
  .btn-secondary {
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: map-get($font-weight, regular);
    font-size: 15px;
  }
}

.footerchoose {
  color: #ffff;
}
